body {
    background-image: url(http://media.beam.usnews.com/5a/2f/e915a47e4478944998463052c3eb/170821-nuclearexplosion-stock.jpg);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	
}

footer {
	font-style: italic;
	font-size: 90%;
}